


.each-slide > div {
    display: flex;
    justify-content: flex-start;
    background-size: contain;
    background-position: center;
    height: 430px;
    width: 40vw;

}

@media (max-width: 600px) {
    .each-slide > div{
        height: 50vh;
        width: 100%;
    }
}