html {
    min-height: 100%;
    position: relative;
}
.frame {
    transform: scale(0.38);
    transform-origin: top left;
}

@media (max-width: 768px) {
    .frame{
        transform: scale(0.25);
    }
}

@keyframes fadeIn {
        from {
        opacity: 0;
        }
        to {
        opacity: 1;
        }
}

.fadeIn-presentation {
    animation: fadeIn 2s ease-in-out;
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}